{%extends 'base.html'%}
{%block content%}
<div class="col-md-6 m-auto">
    <h3 class="title" style="text-align: center;">Editar filme:</h3>
    <div class="cad-filme">
        <form action="{{url_for('edit', id=f.id)}}" method="post">
            <label for="titulo">Título</label>
            <input type="text" name="titulo" class="form-control" value="{{f.titulo}}" required>
            <label for="ano">Ano</label>
            <input type="number" name="ano" class="form-control" value="{{f.ano}}" required>
            <label for="categoria">Categoria</label>
            <input type="text" name="categoria" class="form-control" value="{{f.categoria}}" required>
            <br>
            <a href="{{url_for('edit', id=f.id)}}" onclick="return confirm('Deseja confirmar as alterações?')"><input type="submit" value="Alterar" class="btn btn-warning"></a>
            <a href="{{url_for('catalogo')}}"><input type="button" value="Cancelar" class="btn btn-danger"></a>
        </form>
    </div>
</div>
{%endblock content%}