body{
    background-color: #000000;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(135deg, #303030, #000000);
    background-size: cover;
    background-position: center;
}

.background-home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(/static/imgs/background.jpg);
    background-size: cover;
    background-position: center;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand{
    padding: 0;
}

.logo{
    width: 180px;
    margin: 0;
    padding: 0;
}

.navbar-nav .btn-login {
    background-color: #db202c;
    margin-right: 30px;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .btn-login:hover {
    background-color: #a3131e;
    color: rgb(255, 255, 255);
}

h2.title-galery{
    text-align: center;
    color: #fff;
}

.title{
    text-align: center;
    color: #fff;
}

div.card {
    background-color: #343434;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

summary {
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

summary:hover {
    background-color: #333;
}

/* Estilo para os inputs dentro do formulário */
.cad-filme form input {
    background-color: rgba(0, 0, 0, 0.1); /* Background transparente com blur */
    border: 1px solid #333333; /* Contorno cinza claro */
    color: #fff; /* Texto branco */
    padding: 10px; /* Espaçamento interno */
    margin: 10px;
}

/* Estilo para os botões dentro do formulário */
.cad-filme form input[type="submit"],
.cad-filme form input[type="reset"] {
    background-color: #db202c; /* Cor de fundo do botão (verde) */
    border: none; /* Remover borda */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    margin-top: 10px; /* Espaçamento superior */
    cursor: pointer; /* Mostrar cursor ao passar por cima */
}

/* Estilo para os botões de reset */
.cad-filme form input[type="reset"] {
    background-color: #262626; /* Cor de fundo do botão de reset (vermelho) */
    margin-left: 10px; /* Espaçamento à esquerda */
}

.cad-filme form input::placeholder {
    color: #fff; /* Cor do placeholder */
}

/* Estilo para os inputs quando estão focados */
.cad-filme form input:focus {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; /* Manter o background preto quando focado */
}
